.container {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px;
}

.cardRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
    margin-bottom: 40px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 3px 6px 3px #d6d6d6
}

.button {
    border-radius: 50px;
    background-color: #ffc001;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 0px;
    width: 200px;
    height: 50px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }

  .viewProjects {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    color: #ffffff;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .header {
    margin-left: 20%;
  }

  .subtext {
    margin-left: 20%;
  }