
.container {
    display: flex;
    flex-direction: row;
    font-family: "Montserrat", sans-serif;
}

.navbar {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 40px;
    margin-top: 40px;
}