.container {
    display: flex;
    flex-direction: row;
    background-color: #1E1E1E;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    justify-content: center;
    gap: 10%;
    padding-bottom: 10px;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;

}

.header {
    color: #ffc001;
}

.contactLink {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}